.reporteVendedorContainer{
    display: grid;
    gap: 20px;
    /* background-color: #e4e4e4; */
}

/*
[class^='grid-item']{
    outline: 3px dashed #f90;
}
*/

.reporteVendedorHeaderGrid{
    display: grid;
    grid-row: 1;
    grid-template-columns: repeat(9, 1fr);

    .grid-item-reporteVendedorTitulo{
        grid-column: 1 / 7;
    }
}


.reporteVendedorFormGrid{
    display: grid;
    grid-row: 2;
    grid-template-columns: repeat(9, 1fr);

    .grid-item-fechasForm{
        grid-column: 2 / 9;
        grid-row: 1;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 20px;

        .grid-item-desdeForm {
            grid-column: 1 / 2;
        
            .desdeFormField{
                width: 100% !important;
                grid-column: 1 / -1 !important;
            }
        
        }
          
        .grid-item-hastaForm {
            grid-column: 2 / 3;
        
            .hastaFormField{
                width: 100% !important;
                grid-column: 1 / -1 !important;
            }

        }
    }

    .grid-item-vendedorForm{
        grid-column: 2 / 9;
        grid-row: 2;

        .vendedorFormField{
            width: 100% !important;
            grid-column: 1 / -1 !important;
        }
    }

    .grid-item-generarReporteBtnForm {
        grid-column: 7 / 9;
        grid-row: 3;
        gap: 20px;

        .mat-mdc-unelevated-button:not(:disabled) {
            color: var(--mdc-filled-button-label-text-color, var(--mat-sys-on-primary));
            min-height: 60px !important;
            background-color: #005d52 !important;
        }

        .generarReporteBtn{
            width: 100% !important;
            grid-column: 1 / -1 !important;
        }
    }
}

.reporteVendedorBoxGridTop{
    display: grid;
    grid-row: 3;
    grid-template-columns: repeat(9, 1fr);

    .reporteVendedorBoxFlexTop{
        grid-column: 2 / 9;
        display: flex;
        justify-content: space-between;
        gap: 20px;

        .grid-item-reporteVendedorTotalVentasBox{
            flex: 1;
            min-width: 0;
            background-color: #CCCCCC;
            justify-items: center;
            border-bottom: 2px solid black;
        }

        .grid-item-reporteVendedorClientesAtendidosBox{
            flex: 1;
            min-width: 0;
            background-color: #CCCCCC;
            justify-items: center;
            border-bottom: 2px solid black;
        }

        .grid-item-reporteVendedorCumplimientoMetasBox{
            flex: 1;
            min-width: 0;
            background-color: #CCCCCC;
            justify-items: center;
            border-bottom: 2px solid black;
        }

    }

}

.reporteVendedorBoxGridDown{
    display: grid;
    grid-row: 4;
    grid-template-columns: repeat(9, 1fr);

    .reporteVendedorBoxFlexDown{
        grid-column: 2 / 9;
        display: flex;
        justify-content: space-between;
        gap: 20px;

        .grid-item-reporteVendedorTotalPlanVentasBox{
            flex: 2;
            min-width: 0;
            background-color: #CCCCCC;
            justify-items: center;
            border-bottom: 2px solid black;
        }

        .grid-item-reporteVendedorClientesVisitadosBox{
            flex: 2;
            min-width: 0;
            background-color: #CCCCCC;
            justify-items: center;
            border-bottom: 2px solid black;
        }

        .grid-item-reporteVendedorTasaConversionBox{
            flex: 2;
            min-width: 0;
            background-color: #CCCCCC;
            justify-items: center;
            border-bottom: 2px solid black;
        }

    }

}