.gestionPortafolioContainer{
    display: grid;
    gap: 20px;
}

/*
[class^='grid-item']{
    outline: 3px dashed #f90;
}
*/

.gestionPortafolioHeader{
    display: grid;
    grid-row: 1;
}

.gestionPortafolioForm{
    display: grid;
    grid-row: 2;
    grid-template-columns: repeat(9, 1fr);

    .grid-item-fabricanteForm{
        grid-column: 2 / 5;

        .fabricanteFormField{
            width: 100% !important;
            grid-column: 1 / -1 !important;
        }
        
    }

    .grid-item-adicionNuevoProductoBtnDiv{
        grid-column: 6 / 9;
        justify-items: center;
        align-self: center;

        .mat-mdc-unelevated-button:not(:disabled) {
            color: var(--mdc-filled-button-label-text-color, var(--mat-sys-on-primary));
            background-color: #005d52 !important;
        }

        .adicionProductoBtn {
            width: 100% !important;
            grid-column: 1 / -1 !important;
        }
    }
}
