<body>
    <div class="outer">
      <div class="middle">
        <div class="recoverUser">
          <div id="recoverUserFieldForm">
            <h3>
              Usuario
            </h3>
            <mat-form-field>
              <input matInput placeholder="Usuario">
            </mat-form-field>
          </div>
          <div class="loginButton">
            <button mat-flat-button (click)="openModal.emit()" 
            class="btn btn-primary">Confirmar</button>
          </div>
        </div>
      </div>
    </div>
</body>