.tableComponent{
    display: grid;
    gap: 10px;
    background-color: #EEF0F4;
}

/*
[class^='grid-item']{
    outline: 3px dashed #f90;
}
*/

.tableBtnsGrid{
    display: grid;
    grid-row: 1;
    grid-template-columns: repeat(9, 1fr);
    column-gap: 10px;
    padding-top: 10px;

    .grid-item-ExportarCSVBtn{
        display: grid;
        grid-column: 6 / 8;
        align-items: center;
    }

    .grid-item-ExportarPDFBtn{
        display: grid;
        grid-column: 8 / 10;
        align-items: center;
    }
}

.ExportarCSVBtn, .ExportarPDFBtn {
    height: 30px;
    width: 100%;
    background-color: #005D52 !important;
    color: white;
}

.ExportarCSVBtn:hover, .ExportarPDFBtn:hover {
    background-color: #004a42;
}


.tableGrid{
    .mat-mdc-table .mat-mdc-header-cell {
        background-color: #A4E0A4 !important;
      }

    .mat-mdc-button:not(:disabled) {
        color: white;
        background-color: #005d52 !important;
    }
}