.generacionRutasContainer{
    display:grid;
    gap:20px;
    /* background-color: #e4e4e4; */
}

/*
[class^='grid-item']{
    outline: 3px dashed #f90;
}
*/

.generacionRutasHeaderGrid {
    display: grid;
    grid-row: 1;
    grid-template-columns: repeat(9, 1fr);

    .grid-item-generacionRutasTitulo{
        grid-column: 1 / 6;
    }
}

.generacionRutasGrid{
    display: grid;
    grid-row: 2;
    grid-template-columns: repeat(9, 1fr);
    gap: 20px;

    .grid-item-fechaEntregaForm{
        grid-column: 2 / 6;
        grid-row: 1;

        .fechaEntregaFormField{
            width: 100% !important;
            grid-column: 1 / -1 !important;
        }
    }

    .grid-item-buscarBtnDiv{
        grid-column: 7 / 9;
        align-self: center;

        .mat-mdc-unelevated-button:not(:disabled) {
            color: var(--mdc-filled-button-label-text-color, var(--mat-sys-on-primary));
            background-color: #005d52 !important;
        }

        .buscarBtn{
            width: 100% !important;
            grid-column: 1 / -1 !important;
        }
    }
}

.ordenesPendientesTableHeader{
    display: grid;
    grid-row: 3;
    grid-template-columns: repeat(9, 1fr);
    gap: 20px;

    .grid-item-ordenesPendientesTableHeader{
        grid-column: 1 / 6;
    }
}


.mapaRutaGenerada {
    display: grid;
    grid-row: 6;
    grid-template-columns: repeat(9, 1fr);

    .map-loading {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: rgba(245, 245, 245, 0.8);
    }

    .map-loading span {
        margin-top: 10px;
        color: #666;
    }
    
    .map-image {
        grid-column: 2 / 9;
        width: 100%;
        height: auto;
    }
}

.optimizacionComprasFormBtnsContainer {
    display: grid;
    grid-row: 5;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px; 
  }
  
  .grid-item-generarMapaBtnDiv {
    grid-column: 2 / 5;
    
    .mat-mdc-unelevated-button:not(:disabled) {
        color: var(--mdc-filled-button-label-text-color, var(--mat-sys-on-primary));
        background-color: #005d52 !important;
    }
  }

  .grid-item-consultarMapaBtnDiv {
    grid-column: 6 / 9;
    
    .mat-mdc-unelevated-button:not(:disabled) {
        color: var(--mdc-filled-button-label-text-color, var(--mat-sys-on-primary));
        background-color: #005d52 !important;
    }
  }
  
  .generarMapaBtn, .consultarMapaBtn {
    width: 100%;
}
