<body>
  <div class="outer">
    <div class="middle">
      <div class="login">
        <div id="loginUserField">
          <h3>
            Usuario
          </h3>
          <mat-form-field>
            <input matInput placeholder="Usuario">
          </mat-form-field>
        </div>
        <div id="loginPwField">
          <h3>
            Contraseña
          </h3>
          <mat-form-field>
            <input matInput type="password" placeholder="Contraseña">
          </mat-form-field>
        </div>
        <div class="loginButton">
          <button mat-flat-button>Iniciar Sesión</button>
        </div>
        <div class="recoverPwButton">
          <button mat-button (click)="goToRecover()">¿Olvidaste tu contraseña?</button>
        </div>
      </div>
    </div>
  </div>
</body>

