<app-default-window>
  <main class="definicionPlanDeVentasContainer">
    <div class="definicionPlanDeVentasHeaderGrid">
      <h2 class="grid-item-definicionPlanDeVentasTitulo">
        Definición de Plan de Ventas
      </h2>
    </div>
    <div class="definicionPlanVentasForm">
      <form [formGroup]="definicionPlanDeVentasForm" (ngSubmit)="onSubmit()">
        <div class="definicionPlanDeVentasGrid">  
          <div class="grid-item-vendedorForm">
            <h3>Vendedor</h3>
            <mat-form-field class="vendedorFormField">
              <mat-label>Vendedor</mat-label>
              <input 
                type="text" 
                matInput
                formControlName="fieldVendedor"
                [matAutocomplete]="autoVendedor"
              >
              <mat-autocomplete #autoVendedor="matAutocomplete" (optionSelected)="conVendedorSeleccionado($event)">
                <mat-option *ngFor="let vendedor of vendedoresFiltrados | async" [value]="vendedor">
                  {{ vendedor.identification_number }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="grid-item-metaForm">
            <h3>Meta</h3>
            <mat-form-field class="metaFormField">
              <mat-label>Ingresos a Obtener</mat-label>
              <input 
                type="number" 
                matInput
                formControlName="fieldMeta"
                >
            </mat-form-field>
          </div>
          <div class="grid-item-productoForm">
            <h3>Producto</h3>
            <mat-form-field class="productoFormField" appeareance="fill">
              <mat-label>Seleccione Producto</mat-label>
              <input 
                type="text" 
                matInput
                formControlName="fieldProducto"
                [matAutocomplete]="autoProducto"
              >
              <mat-autocomplete #autoProducto="matAutocomplete" (optionSelected)="conProductoSeleccionado($event)">
                <mat-option *ngFor="let producto of productosFiltrados | async" [value]="producto">
                  {{ producto.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="grid-item-periodoForm">
            <h3>Período</h3>
            <mat-form-field class="periodoFormField">
              <mat-label>Seleccione Período</mat-label>
                <mat-select formControlName="fieldPeriodo">
                  <mat-option *ngFor="let periodoType of periodoTypes"
                      [value]="periodoType">
                      {{PeriodoType2LabelMapping[periodoType]}}
                  </mat-option>
                </mat-select>

            </mat-form-field>
          </div>
          <div class="grid-item-definicionPlanDeVentasBtnsContainer">
            <div class="grid-item-seguimientoVendedorBtnDiv">
              <button mat-flat-button class="seguimientoVendedorBtn">Seguimiento a Vendedor</button>
            </div>
            <div class="grid-item-definicionPlanDeVentasFormBtns">
              <div class="grid-item-cancelarBtnDiv">
                <button mat-flat-button class="cancelarBtn" (click)="clearAll()">Cancelar</button>
              </div>
              <div class="grid-item-guardarBtnDiv">
                <button mat-flat-button class="guardarBtn" 
                        type="submit"
                        [disabled]="definicionPlanDeVentasForm.invalid">Guardar</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </main>
</app-default-window>