.definicionPlanDeVentasContainer{
    display: grid;
    gap: 20px;
    /* background-color: #e4e4e4; */
}

/*
[class^='grid-item']{
    outline: 3px dashed #f90;
}
*/

.definicionPlanDeVentasHeaderGrid{
    display: grid;
    grid-row: 1;
    grid-template-columns: repeat(9, 1fr);


    .grid-item-definicionPlanDeVentasTitulo {
        grid-column: 1 / 9;
    }
}

.definicionPlanDeVentasGrid{
    display: grid;
    grid-row: 2;
    grid-template-columns: repeat(9, 1fr);
    gap: 20px;

    .grid-item-vendedorForm{
        grid-column: 2 / 9;
        grid-row: 1;

        .vendedorFormField{
            width: 100% !important;
            grid-column: 1 / -1 !important;
        }
    }

    .grid-item-metaForm{
        grid-column: 2 / 9;
        grid-row: 2;

        .metaFormField{
            width: 100% !important;
            grid-column: 1 / -1 !important;
        }
    }

    .grid-item-productoForm{
        grid-column: 2 / 9;
        grid-row: 3;

        .productoFormField{
            width: 100% !important;
            grid-column: 1 / -1 !important;
        }
    }

    .grid-item-periodoForm{
        grid-column: 2 / 9;
        grid-row: 4;

        .periodoFormField{
            width: 100% !important;
            grid-column: 1 / -1 !important;
        }
    }

    .grid-item-definicionPlanDeVentasBtnsContainer{
        display: grid;
        grid-column: 2 / 9;
        grid-row: 5;

        .grid-item-seguimientoVendedorBtnDiv{
            grid-column: 1 / 2;
            justify-items: center;
            align-self: center;
            
            .mat-mdc-unelevated-button:not(:disabled) {
                color: var(--mdc-filled-button-label-text-color, var(--mat-sys-on-primary));
                background-color: #005d52 !important;
            }
    
            .seguimientoVendedorBtn {
                width: 100% !important;
                grid-column: 1 / -1 !important;
            }
        }

        .grid-item-definicionPlanDeVentasFormBtns{
            grid-column: 6 / 9;
            display: flex;
            justify-content: space-between;
            gap: 20px;
        
            .grid-item-cancelarBtnDiv{
                flex: 1;
                min-width: 0;
    
                .mat-mdc-unelevated-button:not(:disabled) {
                    color: var(--mdc-filled-button-label-text-color, var(--mat-sys-on-primary));
                    background-color: #EC1C1C !important;
                }
    
                .cancelarBtn{
                    width: 100% !important;
                    grid-column: 1 / -1 !important;
                } 
            }
        
            .grid-item-guardarBtnDiv{
                flex: 1;
                min-width: 0;
                
                .mat-mdc-unelevated-button:not(:disabled) {
                    color: var(--mdc-filled-button-label-text-color, var(--mat-sys-on-primary));
                    background-color: #005d52 !important;
                }
    
                .guardarBtn{
                    width: 100% !important;
                    grid-column: 1 / -1 !important;
                }
            }
        }
    }
}