<app-default-window>
  <main class="registroVendedoresContainer">
    <div class="registroVendedoresHeaderGrid">
      <div class="registroVendedoresTitulo">
        <h2 class="grid-item-registroVendedoresTitulo">
          Registro de Vendedores
        </h2>
      </div>
      <div class="grid-item-switchViewModeGrid">
        <button mat-raised-button class="switchViewBtn"
                color="{{isInViewMode ? 'primary' : 'accent'}}" 
                (click)="toggleMode()">
          {{ isInViewMode ? '➕ Añadir Vendedor' : '🔍 Consultar Vendedor' }}
        </button>
      </div>
    </div>
    <div *ngIf="!isInViewMode">
      <form [formGroup]="registroVendedoresForm" (ngSubmit)="onSubmit()">
        <div class="registroVendedoresGrid">
          <div class="grid-item-numeroIdentificacionForm">
            <h3>Número de Identificación</h3>
            <mat-form-field class="numeroIdentificacionFormField">
              <mat-label>Número de Identificación</mat-label>
              <input matInput formControlName="fieldNumeroIdentificacion" 
                    placeholder="Número de Identificación" id="registroVendedores-fieldNumeroIdentificacion">
            </mat-form-field>
          </div>
          <div class="grid-item-nombreForm">
            <h3>Nombre</h3>
            <mat-form-field class="nombreFormField">
              <input matInput formControlName="fieldNombre" id="registroVendedores-fieldNombre" placeholder="Nombre">
            </mat-form-field>
          </div>
          <div class="grid-item-correoElectronicoForm">
            <h3>Correo Electrónico</h3>
            <mat-form-field class="correoElectronicoFormField">
              <input matInput formControlName="fieldCorreoElectronico" 
                id="registroVendedores-fieldCorreoElectronico" placeholder="Email">
            </mat-form-field>
          </div>
          <div class="grid-item-direccionForm">
            <h3>Dirección</h3>
            <mat-form-field class="direccionFormField">
              <input matInput formControlName="fieldDireccion" id="registroVendedores-fieldDireccion" placeholder="Dirección">
            </mat-form-field>
          </div>
          <div class="grid-item-telefonoForm">
            <h3>Teléfono</h3>
            <mat-form-field class="telefonoFormField">
              <input matInput formControlName="fieldTelefono" id="registroVendedores-fieldTelefono" placeholder="Teléfono">
            </mat-form-field>
          </div>
          <div class="grid-item-zonaForm">
            <h3>Zona</h3>
            <mat-form-field class="zonaFormField">
              <mat-label>Escoja la Zona</mat-label>
              <mat-select formControlName="fieldZona">
                <mat-option *ngFor="let zonaType of zonaTypes"
                    [value]="zonaType">
                    {{ZonaType2LabelMapping[zonaType]}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="registroVendedoresBtnsContainer">
            <div class="grid-item-cancelarBtnDiv">
              <button mat-flat-button class="cancelarBtn" (click)="clearAll()">Cancelar</button>
            </div>
            <div class="grid-item-guardarBtnDiv">
              <button mat-flat-button class="guardarBtn" 
                      type="submit" 
                      [disabled]="registroVendedoresForm.invalid">Guardar
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="isInViewMode">
      <form [formGroup]="consultaVendedoresForm">
        <div class="consultaVendedoresGrid">
          <div class="grid-item-numeroIdentificacionForm">
            <h3>Número de Identificación</h3>
            <mat-form-field class="numeroIdentificacionFormField" appearance="fill">
              <mat-label>Número de Identificación</mat-label>
              <input 
                type="text" 
                matInput
                id="consultaVendedores-fieldNumeroIdentificacion" 
                formControlName="fieldNumeroIdentificacion"
                [matAutocomplete]="auto"
              >
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="conVendedorSeleccionado($event.option.value)">
                <mat-option *ngFor="let identification_number of numerosIdentificacionFiltrados | async" [value]="identification_number">
                  {{ identification_number }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="grid-item-nombreForm">
            <h3>Nombre</h3>
            <mat-form-field class="nombreFormField">
              <input matInput formControlName="fieldNombre" placeholder="Nombre" id="consultaVendedores-fieldNombre" readonly>
            </mat-form-field>
          </div>
          <div class="grid-item-correoElectronicoForm">
            <h3>Correo Electrónico</h3>
            <mat-form-field class="correoElectronicoFormField">
              <input matInput formControlName="fieldCorreoElectronico" placeholder="Email" id="consultaVendedores-fieldCorreoElectronico"  readonly>
            </mat-form-field>
          </div>
          <div class="grid-item-direccionForm">
            <h3>Dirección</h3>
            <mat-form-field class="direccionFormField">
              <input matInput formControlName="fieldDireccion" placeholder="Dirección" id="consultaVendedores-fieldDireccion" readonly>
            </mat-form-field>
          </div>
          <div class="grid-item-telefonoForm">
            <h3>Teléfono</h3>
            <mat-form-field class="telefonoFormField">
              <input matInput formControlName="fieldTelefono" placeholder="Teléfono" id="consultaVendedores-fieldTelefono" readonly>
            </mat-form-field>
          </div>
          <div class="grid-item-zonaForm">
            <h3>Zona</h3>
            <mat-form-field class="zonaFormField">
              <mat-label>Escoja la Zona</mat-label>
              <mat-select formControlName="fieldZona" id="consultaVendedores-fieldZona"  readonly>
                <mat-option *ngFor="let zonaType of zonaTypes"
                    [value]="zonaType">
                    {{ZonaType2LabelMapping[zonaType]}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
    <div class="asignacionClientesHeaderGrid">
      <h2 class="grid-item-asignacionClientesDisponibles">
        Asignación de Clientes Disponibles
      </h2>
    </div>
    <div class="asignacionClientesTableGrid">
      <app-table-template
        [data]="tableData"
        [columns]="tableColumns"
        [displayedColumns]="visibleColumns"
        [actions]="assignAction"
      ></app-table-template>
    </div>
    <div class="registroVendedoresBtnsGrid">
      <div class="grid-item-planVentasBtnDiv">
        <button mat-flat-button class="planVentasBtn">Plan de Ventas</button>
      </div>
    </div>  
  </main>
</app-default-window>