<app-default-window>
  <main class="registroVendedoresContainer">
    <div class="registroVendedoresHeaderGrid">
      <h2 class="grid-item-registroVendedoresTitulo">
        Registro de Vendedores
      </h2>
    </div>
    <div class="registroVendedoresGrid">
      <div class="grid-item-numeroIdentificacionForm">
        <h3>Número de Identificación</h3>
        <mat-form-field class="numeroIdentificacionFormField">
          <input matInput placeholder="Número de Identificación">
        </mat-form-field>
      </div>
      <div class="grid-item-nombreForm">
        <h3>Nombre</h3>
        <mat-form-field class="nombreFormField">
          <input matInput placeholder="Nombre">
        </mat-form-field>
      </div>
      <div class="grid-item-correoElectronicoForm">
        <h3>E-mail</h3>
        <mat-form-field class="correoElectronicoFormField">
          <input matInput placeholder="E-mail">
        </mat-form-field>
      </div>
      <div class="grid-item-direccionForm">
        <h3>Dirección</h3>
        <mat-form-field class="direccionFormField">
          <input matInput placeholder="Dirección">
        </mat-form-field>
      </div>
      <div class="grid-item-telefonoForm">
        <h3>Teléfono</h3>
        <mat-form-field class="telefonoFormField">
          <input matInput placeholder="Teléfono">
        </mat-form-field>
      </div>
      <div class="grid-item-ciudadForm">
        <h3>Ciudad</h3>
        <mat-form-field class="ciudadFormField">
          <input matInput placeholder="Ciudad">
        </mat-form-field>
      </div>
    </div>
    <div class="asignacionClientesHeaderGrid">
      <h2 class="grid-item-asignacionClientesDisponibles">
        Asignación de Clientes Disponibles
      </h2>
    </div>
    <div class="asignacionClientesTableGrid">
      <app-table-template
        [data]="tableData"
        [columns]="tableColumns"
        [displayedColumns]="visibleColumns"
        [actions]="assignAction"
      ></app-table-template>
    </div>
    <div class="registroVendedoresBtnsGrid">
      <div class="grid-item-planVentasBtnDiv">
        <button mat-flat-button class="planVentasBtn">Plan de Ventas</button>
      </div>
      <div class="registroVendedoresBtnsContainer">
        <div class="grid-item-cancelarBtnDiv">
          <button mat-flat-button class="cancelarBtn">Cancelar</button>
        </div>
        <div class="grid-item-guardarBtnDiv">
          <button mat-flat-button class="guardarBtn">Guardar</button>
        </div>
      </div>
    </div>  
  </main>
</app-default-window>