<app-default-window>
  <main class="registroFabricantesContainer">
    <div class="registroFabricantesHeaderGrid">
      <h2 class="grid-item-registroFabricantesTitulo">
        Registro de Fabricantes
      </h2>
      <div class="grid-item-PortafolioBtn">
        <button mat-flat-button class="PortafolioBtn" routerLink="/fabricantes/portafolio">Portafolio</button>
      </div>
    </div>
  <form [formGroup]="registroFabricantesForm" (ngSubmit)="onSubmit()">  
    <div class="registroFabricantesGrid">
      <div class="grid-item-nitForm">
        <h3>NIT</h3>
        <mat-form-field class="nitFormField">
          <input matInput formControlName="fieldNit" placeholder="Número de Identificación Tributaria">
        </mat-form-field>
      </div>
      <div class="grid-item-nombreForm">
        <h3>Nombre</h3>
        <mat-form-field class="nombreFormField">
          <input matInput formControlName="fieldNombre" placeholder="Nombre de Proveedor">
        </mat-form-field>
      </div>
      <div class="grid-item-paisForm">
        <h3>País</h3>
        <mat-form-field class="paisFormField">
          <input matInput formControlName="fieldPais" placeholder="País">
        </mat-form-field>
      </div>
      <div class="grid-item-direccionForm">
        <h3>Dirección</h3>
        <mat-form-field class="direccionFormField">
          <input matInput formControlName="fieldDireccion" placeholder="Dirección de Proveedor">
        </mat-form-field>
      </div>
    </div>
    <div class="informacionContactoHeaderGrid">
      <h2 class="grid-item-informacionContactoTitulo">
        Información de Contacto
      </h2>
    </div>
    <div class="informacionContactoGrid">
      <div class="grid-item-identificacionForm">
        <h3>Número de Identificación</h3>
        <mat-form-field class="identificacionFormField">
          <input matInput formControlName="fieldIdentificacion" placeholder="Número Identificación">
        </mat-form-field>
      </div>
      <div class="grid-item-nombreContactoForm">
        <h3>Nombre</h3>
        <mat-form-field class="nombreContactoFormField">
          <input matInput formControlName="fieldNombreContacto" placeholder="Nombre de Proveedor">
        </mat-form-field>
      </div>
      <div class="grid-item-telefonoForm">
        <h3>Teléfono</h3>
        <mat-form-field class="telefonoFormField">
          <input matInput formControlName="fieldTelefono" placeholder="Teléfono">
        </mat-form-field>
      </div>
      <div class="grid-item-direccionContactoForm">
        <h3>Dirección</h3>
        <mat-form-field class="direccionContactoFormField">
          <input matInput formControlName="fieldDireccionContacto" placeholder="Dirección">
        </mat-form-field>
      </div>
    </div>
    <div class="informacionContactoBtnsGrid">
      <div class="grid-item-CancelarBtnDiv">
        <button mat-flat-button class="CancelarBtn" (click)="clearAll()">Cancelar</button>
      </div>
      <div class="grid-item-GuardarBtnDiv">
        <button mat-flat-button class="GuardarBtn" type="submit">Guardar</button>
      </div>
    </div>
  </form>
  </main>
</app-default-window>
