<app-default-window>
  <main class="registroFabricantesContainer">
    <div class="registroFabricantes">
      <h2>Registro de Fabricantes</h2>
      <div class="PortafolioBtnDiv">
        <button mat-flat-button class="PortafolioBtn">Portafolio</button>
      </div>
      <div class="nitForm">
        <h3>NIT</h3>
        <mat-form-field class="nitFormField">
          <input matInput placeholder="Número de Identificación Tributaria">
        </mat-form-field>
      </div>
      <div class="nombreForm">
        <h3>Nombre</h3>
        <mat-form-field class="nombreFormField">
          <input matInput placeholder="Nombre de Proveedor">
        </mat-form-field>
      </div>
      <div class="paisForm">
        <h3>País</h3>
        <mat-form-field class="paisFormField">
          <input matInput placeholder="País">
        </mat-form-field>
      </div>
      <div class="direccionForm">
        <h3>Dirección</h3>
        <mat-form-field class="direccionFormField">
          <input matInput placeholder="Dirección de Proveedor">
        </mat-form-field>
      </div>
    </div>
    <div class="informacionContacto">
      <h2>Información de Contacto</h2>
      <div class="identificacionForm">
        <h3>Número de Identificación</h3>
        <mat-form-field class="identificacionFormField">
          <input matInput placeholder="Número Identificación">
        </mat-form-field>
      </div>
      <div class="nombreContactoForm">
        <h3>Nombre</h3>
        <mat-form-field class="nombreContactoFormField">
          <input matInput placeholder="Nombre de Proveedor">
        </mat-form-field>
      </div>
      <div class="telefonoForm">
        <h3>Teléfono</h3>
        <mat-form-field class="telefonoFormField">
          <input matInput placeholder="Teléfono">
        </mat-form-field>
      </div>
      <div class="direccionContactoForm">
        <h3>Dirección</h3>
        <mat-form-field class="direccionContactoFormField">
          <input matInput placeholder="Dirección">
        </mat-form-field>
      </div>
    </div>
    <div>
      <div class="CancelarBtnDiv">
        <button mat-flat-button class="CancelarBtn">Cancelar</button>
      </div>
      <div class="GuardarBtnDiv">
        <button mat-flat-button class="GuardarBtn">Guardar</button>
      </div>
    </div>
  </main>
</app-default-window>
