<body>
    <div class="outer">
      <div class="middle">
        <div class="recoverPassword">
          <div id="recoverPasswordFieldForm">
            <h3>
              Nueva Contraseña
            </h3>
            <mat-form-field>
                <input matInput type="password" placeholder="Nueva Contraseña">
            </mat-form-field>
          </div>
          <div id="loginPwField">
            <h3>
              Confirmar Contraseña
            </h3>
            <mat-form-field>
                <input matInput type="password" placeholder="Confirmar Contraseña">
            </mat-form-field>
          </div>
          <div class="confirmNewPassword">
            <button mat-flat-button class="confirmNewPasswordBtn" (click)="goToLogin.emit()">Confirmar</button>
          </div>
        </div>
      </div>
    </div>
</body>