<app-default-window>
  <main class="consultaProductoBodegaContainer">
  <form [formGroup]="consultaProductoBodegaForm" (ngSubmit)="onSubmit()">
    <div class="consultaProductoBodegaHeaderGrid">
      <h2 class="grid-item-consultaProductoBodegaTitulo">
        Consulta de Producto en Bodega
      </h2>
    </div>
    <div class="consultaProductoBodegaGrid">
      <div class="grid-item-productoForm">
        <h3>Código o Nombre de Producto</h3>
        <mat-form-field class="productoFormField">
          <input matInput formControlName="fieldProducto" placeholder="Escriba el Nombre o Código de Producto">
        </mat-form-field>
      </div>
      <div class="grid-item-bodegaForm">
        <h3>Bodega</h3>
        <mat-form-field class="bodegaFormField">
          <mat-label>Escoja la Bodega</mat-label>
          <mat-select formControlName="fieldBodega">
            <mat-option *ngFor="let bodega of listaBodegas" 
              [value]="bodega.id">
              {{ bodega.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="consultaProductoBodegaBuscarBtnGrid">
      <div class="grid-item-buscarBtnForm">
        <button mat-flat-button class="buscarBtn">Buscar</button>
      </div>
    </div>
  </form>  
    <div class="tablaUbicacionStockHeaderGrid">
      <h2 class="grid-item-tablaUbicacionStockTitulo">
        Ubicación y Stock
      </h2>
    </div>
    <div class="tablaUbicacionStockGrid">
      <app-table-template
      [data]="tableData"
      [columns]="tableColumns"
      [displayedColumns]="visibleColumns">
      </app-table-template>
    </div>
    <div class="consultaProductoBodegaBtnsGrid">
      <div class="consultaProductoBodegaBtnsContainer">
        <div class="grid-item-consultaInventarioBtnDiv">
          <button mat-flat-button class="consultaInventarioBtn" routerLink="/inventario/consulta">Consulta de Inventario</button> <!-- Revisar routing si se hacen cambios a app-routing.module -->
        </div>
        <div class="grid-item-movimientosProductoBtnDiv">
          <button mat-flat-button class="movimientosProductoBtn">Movimientos de Producto</button>
        </div>
        <div class="grid-item-consultaBodegasBtnDiv">
          <button mat-flat-button class="consultaBodegasBtn">Ir a Consulta de Bodegas</button>
        </div>
      </div>
    </div>
  </main>
</app-default-window>