<app-default-window>
  <main class="cargaProductoContainer">
    <div class="cargaProductoHeaderGrid">
      <h2 class="grid-item-cargaProductoTitulo">
        Registro de Productos
      </h2>
      <div class="grid-item-cargaMasivaBtn">
        <button mat-flat-button class="cargaMasiva">Carga Masiva</button>
      </div>
    </div>
  <form [formGroup]="cargaProductoForm" (ngSubmit)="onSubmit()">
    <div class="cargaProductoGrid">
      <div class="grid-item-codigoForm">
        <h3>Producto</h3>
        <mat-form-field class="codigoFormField">
          <input matInput formControlName="fieldCodigo" placeholder="Código Producto (SKU)">
        </mat-form-field>
      </div>
      <div class="grid-item-fabricanteForm">
        <h3>Fabricante</h3>
        <mat-form-field class="fabricanteFormField">
          <mat-label>Escoja el Fabricante</mat-label>
          <mat-select formControlName="fieldFabricante">
            <mat-option *ngFor="let fabricante of listaFabricantes"
                [value]="fabricante">
                {{fabricante}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="grid-item-valorForm">
        <h3>Valor</h3>
        <mat-form-field class="valorFormField">
          <input matInput formControlName="fieldValor" placeholder="Valor">
        </mat-form-field>
      </div>
      <div class="grid-item-fechaVencimientoForm">
        <h3>Fecha de Vencimiento</h3>
        <mat-form-field class="fechaVencimientoFormField">
          <mat-label>Fecha de Vencimiento</mat-label>
          <input matInput formControlName="fieldFechaVencimiento" [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="grid-item-condicionesAlmacenamientoForm">
        <h3>Condiciones de almacenamiento</h3>
        <mat-form-field class="condicionesAlmacenamientoFormField">
          <input matInput formControlName="fieldCondicionesAlmacenamiento" 
            placeholder="Condiciones de almacenamiento">
        </mat-form-field>
      </div>
      <div class="grid-item-categoriaForm">
        <h3>Categoría</h3>
        <mat-form-field class="categoriaFormField">
          <mat-label>Escoja la Categoría</mat-label>
          <mat-select formControlName="fieldCategoria">
            <mat-option *ngFor="let fileType of fileTypes"
                [value]="fileType">
                {{FileType2LabelMapping[fileType]}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="grid-item-caracteristicasForm">
        <h3>Características del Producto</h3>
        <mat-form-field class="caracteristicasFormField">
          <input matInput formControlName="fieldCaracteristicas" placeholder="Características del Producto">
        </mat-form-field>
      </div>
      <div class="grid-item-descripcionForm">
        <h3>Descripción del Producto</h3>
        <mat-form-field class="descripcionFormField">
          <input matInput formControlName="fieldDescripcion" placeholder="Descripción del Producto">
        </mat-form-field>
      </div>
      <div class="grid-item-nombreForm">
        <h3>Nombre</h3>
        <mat-form-field class="nombreFormField">
          <input matInput formControlName="fieldNombre" placeholder="Descripción del Producto">
        </mat-form-field>
      </div>
      <div class="grid-item-AdjuntarFotoBtnDiv">
        <input  type="file" #fileInput 
                (change)="onFileSelected($event)" 
                accept="image/*" 
                style="display: none">
        <button mat-flat-button class="AdjuntarFotoBtn" (click)="fileInput.click()">
          {{ selectedFile ? selectedFile.name : 'Subir Imagen' }}
        </button>
      </div>
    </div>
    <div class="cargaProductoBtnsGrid">
      <div class="grid-item-CancelarBtnDiv">
        <button mat-flat-button type="button" class="CancelarBtn" (click)="clearAll()">Cancelar</button>
      </div>
      <div class="grid-item-GuardarBtnDiv">
        <button mat-flat-button class="GuardarBtn" type="submit" [disabled]="!cargaProductoForm.valid">
          Guardar
        </button>
      </div>
    </div>
  </form>
  </main>
</app-default-window>