<nav class="navbar">
  <div class="increaseFontSize">
    <button type="button" class="increaseFontSizeBtn" onclick="increaseFontSize();"> <img src="../../../assets/icons/A+Button_icon.png"> </button>
  </div>
  <div class="decreaseFontSize">
    <button type="button" class="decreaseFontSizeBtn" onclick="decreaseFontSize();"> <img src="../../../assets/icons/A-Button_icon.png"> </button>
  </div>
  <div class="changeContrast">
    <button type="button" class="changeContrastBtn" onclick="changeContrast();"> <img src="../../../assets/icons/ContrastButton_icon.png"> </button>
  </div>
</nav>