<mat-drawer-container class="sidenavContainer" [class.collapsed]="!isOpen" autosize="true">
  <mat-drawer mode="side" [opened]="isOpen" class="sidenavDrawer">
    <mat-nav-list class="sidenavList">
      <a mat-list-item>Gestión de Productos</a>
      <a mat-list-item>Gestión de Fabricantes</a>
      <a mat-list-item>Gestión de Vendedores</a>
      <a mat-list-item>Gestión de Reportes</a>
      <a mat-list-item>Gestión de Pedidos</a>
      <a mat-list-item>Gestión de Bodegas e Inventario</a>
      <a mat-list-item>Gestión de Ventas</a>
      <a mat-list-item>Gestión de Compras</a>
      <a mat-list-item>Gestión de Usuarios</a>
      <a mat-list-item>Gestión de Rutas</a>
      <a mat-list-item>Gestión de Reglas</a>
      <a mat-list-item>Cerrar Sesión</a>
    </mat-nav-list>
  </mat-drawer>
</mat-drawer-container>